.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #fff;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  height: 600px;
  width: auto;
   border: none;
  background: none;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}



.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.search-bar {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.header-right button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
